<ion-header>
    <ion-toolbar>
      <ion-title class="long-text">Magasin Airsoft Belgium</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card>

  
      <ion-card-content>

        <ion-item>
          <ion-label>Heures d'ouverture</ion-label>
          <ion-note>{{ storeHours }}</ion-note>
        </ion-item>
  
        <ion-item>
          <ion-label>Descriptif</ion-label>
          <ion-note>{{ storeDescription }}</ion-note>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>