<ion-header>
  <ion-toolbar>
    <ion-title>Description du Terrain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="overflow-y: auto">

  <!-- Ajoutez ici les détails du terrain -->
  <ion-card>
    <ion-img src="assets/Lier_fort_Koningshooikt_8893.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>FORT KNOX AIRSOFT</ion-card-title>
      <ion-card-subtitle>Donderheide 3, 2570 Lier</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Fort Knox Airsoft propose une expérience immersive d'airsoft dans un paysage boisé avec des structures tactiques et des zones ouvertes. Les joueurs s'engagent dans des escarmouches dynamiques à travers des fortifications stratégiques, des bunkers et des sentiers sinueux, offrant un défi captivant pour tous les niveaux d'expérience.
      </p>
      
      <br/>
      <!-- Horaires des terrains -->
      <h2>Horaires</h2>
      <ion-list>
        <ion-item>
          <ion-label>Lundi</ion-label>
          <ion-text slot="end">10:00- 22:00</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Mardi</ion-label>
          <ion-text slot="end">10:00- 22:00</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Mercredi</ion-label>
          <ion-text slot="end">10:00- 22:00</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Jeudi</ion-label>
          <ion-text slot="end">10:00- 22:00</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>vendredi</ion-label>
          <ion-text slot="end">10:00- 22:00</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Samedi</ion-label>
          <ion-text slot="end">10:00- 22:00</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Dimanche</ion-label>
          <ion-text slot="end">10:00- 22:00</ion-text>
        </ion-item>
        <!-- Ajoutez autant d'éléments ion-item que nécessaire pour chaque jour d'ouverture -->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>



