<ion-header>
  <ion-toolbar>
    <ion-title class="long-text"> Armurerie Defense Airsoft Paintball PBGk</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card>


    <ion-card-content>

      <ion-item>
        <ion-label>Heures d'ouverture</ion-label>
        <ion-note>{{ store2Hours }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Descriptif</ion-label>
        <ion-note>{{ store2Description }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
