<ion-header>
  <ion-toolbar>
    <ion-title>Description du Magasin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="overflow-y: auto">

  
  <ion-card>
    <ion-img src="assets/Safe Zone Airsoft.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Safe Zone Airsoft</ion-card-title>
      <ion-card-subtitle>194 Rue de la Lys, 59250 Halluin, France</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Bienvenu à Safe Zone Airsoft, l'endroit où la sécurité rencontre l'excitation. Notre terrain offre une expérience immersive avec des zones de jeu soigneusement conçues, des scénarios palpitants, et une atmosphère amicale pour les passionnés d'Airsoft de tous niveaux.
      </p>
      
      <br/>
     
      <h2>Horaires</h2>
      <ion-list>
        <ion-item>
          <ion-label>Lundi</ion-label>
          <ion-text slot="end">Fermé</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Mardi</ion-label>
          <ion-text slot="end">10:00–18:30</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Mercredi</ion-label>
          <ion-text slot="end">10:00–18:30</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Jeudi</ion-label>
          <ion-text slot="end">10:00–18:30</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Vendredi</ion-label>
          <ion-text slot="end">10:00–18:30</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Samedi</ion-label>
          <ion-text slot="end">10:00–18:30</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Dimanche</ion-label>
          <ion-text slot="end">Fermé</ion-text>
        </ion-item>
      
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>


